.carousel-card{
  height: 5rem;
  max-width: 5rem;
  border-radius: 5px;
  background-color: blueviolet;
  margin-left: 1.5rem;
}
.carousel-card img{
  height: 3rem;
  width: 3rem;
  margin-left: 1rem;
}
.carousel-card p{
  margin: 0;
  text-align: center;
}
.slick-slider{
  margin-top: 1rem;
  margin-left: 5%;
  padding: 1rem;
  /* background-color: black; */
  width: 90%;
  box-sizing: border-box;
}